.turbo
/node_modules
.vscode
.github
.git
/archive
/coverage
/.changeset
**/.env
**/*.test.*
**/*.spec.*
**/vitest.config.*
**/coverage
/fdm-docs
/cloud-build-optimization.md

/fdm-app/build
/fdm-app/.react-router
/fdm-app/node_modules

/fdm-calculator/.turbo
/fdm-calculator/dist
/fdm-calculator/node_modules

/fdm-core/dist
/fdm-core/.turbo
/fdm-core/node_modules

/fdm-data/dist
/fdm-data/.turbo
/fdm-data/node_modules
